@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  animation: none !important;
  transition: none !important;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
